$textoCentrado: center;

//Header
$heightHeaderMovil: 75px;
$heightHeaderTablet: 100px;
$heightHeaderPC: 110px;
$headerBGColor: rgb(255, 255, 255);

//Main
$tamanoSeccionPrincipal: 55%;
$tamanoSeccionSecundaria: 33%;
$btnColor: red;
$btnRadio: 5px;
$btnAltura: 45px;
$mainPrincipalBGColor: rgb(211, 211, 211);
$mainSecundariaBGColor: rgb(189, 189, 189);